window {
    margin: 5px;
    background-color: #1e1e2e;
    border-radius: 8px;
    font-family: monospace;
}

#input {
    margin: 5px;
    border-radius: 4px;
    border: none;
    background-color: #313244;
    color: #cdd6f4;
}

#inner-box {
    margin: 5px;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 5px;
    background-color: #1e1e2e;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #313244;
    border-radius: 4px;
}
